@import '../../sass/main.scss';

.input-data {
  display: flex;
  font-family: Poppins;
  margin-bottom: 0.9rem;

  input {
    width: 4rem;
    padding: 0.2rem;
    border-radius: 5px;
    border: 0.1px solid $color-grey-dark-2;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid #55c57a;
    }

    &:focus:invalid {
      border-bottom: 3px solid #ff7730;
    }
  }

  label {
    width: 14rem;
    margin-right: 0.5rem;
  }
}
