@import '../../sass/main.scss';

.warning {
  font-family: Poppins;
  width: 20rem;
  height: 12rem;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > p {
    padding: 0 1rem;
    text-align: center;
  }

  & > button {
    box-sizing: border-box;
    cursor: pointer;
    font-family: Poppins;
    font-size: 1.2rem;
    color: $color-white;
    transition: all 0.5s;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: $color-secondary-4;
    &:hover {
      background-color: $color-secondary-5;
    }
  }
}
