@import '../../sass/main.scss';

.back-button {
  box-sizing: border-box;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  color: $color-grey-dark-2;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #3cef99;

  & > * {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
  }

  &:hover {
    background-color: #01c044;
  }
}
