@import '../../sass/main.scss';

.answer {
  display: flex;
  color: $color-grey-dark-2;
  font-family: Poppins;

  &-left {
    flex: 0 0 50%;
    width: 100%;
    flex-direction: column;
    display: flex;
    & > span {
      margin-left: 2rem;
      font-size: 1.1rem;
    }
  }

  &-right {
    flex: 0 0 50%;
  }

  &-queue {
    overflow: auto;
    width: 20rem;
    margin: 0 3rem;
    margin-top: 1rem;
    & > div {
      display: flex;
      & > *:not(:first-child) {
        margin-left: -2rem;
      }
    }
  }

  &-title {
    display: flex;
    align-items: center;
    margin-bottom: -0.9rem;
    h1 {
      margin-left: 0.9rem;
    }
  }

  &-svg {
    & > * {
      width: 15rem;
      height: 15rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 0 50%;
    margin-bottom: 1rem;
  }

  &-pn {
    margin-top: 1.2rem;
    height: 5rem;
    width: 22rem;
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid $color-grey-dark-2;
    p {
      margin-top: -0.2rem;
    }
  }
}
